In [6]:
def full_name():
    allowed = set("abcdefghijklmnopqrstuvwxyz .")
    first = input("Enter your first name :")
    sec = input("Enter your second name :")
    
    full = first+' '+sec
    
    if full and allowed.issuperset(full):
        full_name = full
        return full_name
    else :
        return print('Invalid input')

In [11]:
full_name()

Enter your first name :Rohith
Enter your second name :HV
Invalid input

In [21]:
import pandas as pd
import array as ar
students = ar.array('i',[])
stu_df = pd.DataFrame(students, columns =['Name', 'Age', 'Section'],index =['1', '2', '3', '4'])

In [30]:
stu_df['Name'][0]='Krishna'
stu_df['Name'][1]='Rohith'
stu_df['Name'][2]='Jithin'
stu_df['Name'][3]='Adarsh'
stu_df['Age'][0]= 12
stu_df['Age'][1]=24
stu_df['Age'][2]=24
stu_df['Age'][3]=60
stu_df['Section'][0]='3rd std '
stu_df['Section'][1]='10th'
stu_df['Section'][2]='6th'
stu_df['Section'][3]='dead'

In [31]:
stu_df

      Name Age   Section
1  Krishna  12  3rd std
2   Rohith  24      10th
3   Jithin  24       6th
4   Adarsh  60      dead

In [44]:
for column in stu_df:
    columnSeriesObj = stu_df[column]
    print("Column Name :", column)
    print('Column Contents : ', columnSeriesObj.values)

Column Name : Name
Column Contents :  ['Krishna' 'Rohith' 'Jithin' 'Adarsh']
Column Name : Age
Column Contents :  [12 24 24 60]
Column Name : Section
Column Contents :  ['3rd std ' '10th' '6th' 'dead']

In [48]:
for column in stu_df:
    column = input ('Enter the column name :')
    if column == 'Name':
        
        columnSeriesObj = stu_df[column]
        print("Column Name :", column)
        print('Column Contents : ', columnSeriesObj.values)
    elif column == 'Age':
        
        columnSeriesObj = stu_df[column]
        print("Column Name :", column)
        print('Column Contents : ', columnSeriesObj.values)
        
    elif column == 'Section':
        columnSeriesObj = stu_df[column]
        print("Column Name :", column)
        print('Column Contents : ', columnSeriesObj.values)
    else :
        print('invalid column name')

Enter the column name :sdf
invalid column name
Enter the column name :Section
Column Name : Section
Column Contents :  ['3rd std ' '10th' '6th' 'dead']
Enter the column name :sd
invalid column name